spring:
  application:
    name: UserVerification

  datasource:
    url: jdbc:postgresql://localhost:5432/verificationdb
    username: YOUR_DB_USERNAME
    password: YOUR_DB_PASSWORD

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

jwt:
  secret: JWT_SECRET
  expiration: 86400000

server:
  port: 8080